.ourCocktail{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    background: #FFCD32;
    img{
        width:200px;
        height:200px;
    }
}